@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Yekan';
    src: url('../assets/B_Yekan/Yekan.ttf') format('truetype'),
  }
body {
    font-family: 'Yekan', Arial, Helvetica, sans-serif;
}